//- layout.pug
doctype html
html
  head
    title Ashwin Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/logo.png", alt="")
                | ADA
            li #[a(href='/') Home]
            li #[a(href='/') About] 
            li #[a(href='/') Services] 
            li #[a(href='/') Class Info] 
            li #[a(href='/contact') Contact Us]
    
    block content
    footer#footer 
        | Copyright &copy 2021 AshwinDanceAcademy.com | All rights reserved 


